* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
}

button{

  font-size: 18px;
  padding: 5px 10px;
  font-weight: bold;
  background-color: black ;
  color: white;
}

button:hover{
  background-color: grey;

}

.square {
  background: black;
  border: 2px solid #999;
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 34px;
  height: 104px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 104px;
  color: white;
}

.board-row:after {
  clear: both;
  content: ' ';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.red-class {
  background-color: red;
}

